$font-path: '/assets/fonts/Inter/';
$font-path-icon: '/assets/fonts/font-icon/';

//Color
$color-primary: #273369;
$color-secondary: #F9E79F;
$default-bg:#f0f1f5;
$black: #000;
$white: white;
$grey: #BDC3C7;
$blue: #55B0D5;
$orange: #F5B041;
$green:#A3D9A1;
$grey-4A: #4A4A4A;
$grey-c4: #C4C4C4;
$grey-6A: #6A6B6C;
$red: #FF0000;
$white-f4: #F4F7FA;
$white-f7: #F7F7F7;
$kpi-colors: ($blue, $grey, $orange, $green);
$finish-color: #53b281;

//Font-family
$font-family: Inter, Arial, sans-serif;